@model IEnumerable<Product>
@{
}
<h1>Product Summary - @(((List<Product>)Model).Count) Products</h1>
<a asp-action="Create">Create A New Product</a>
<table>
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.ID)</th>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Description)</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Product product in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelInstance => product.ID)</td>
                <td>@Html.DisplayFor(modelInstance => product.Name)</td>
                <td>@Html.DisplayFor(modelInstance => product.Description)</td>
                <td><a asp-action="Details" asp-route-id="@product.ID">Details</a></td>
                <td><a asp-action="Edit" asp-route-id="@product.ID">Edit</a></td>
                <td><a asp-action="Delete" asp-route-id="@product.ID">Delete</a></td>
            </tr>
        }
    </tbody>
</table>